body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
background:white;
margin:20px;
border-radius:10px;
}

input, textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px 20px;
background:black;
color:white;
border:none;
cursor:pointer;
}
